[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
"pushbullet.py" = "*"
mypy = "*"
isort = "*"
pytest = "*"
flask = "*"
flask-sqlalchemy = "*"

[dev-packages]



[requires]

python_version = "3.6"
